
.page {
    margin: 0 ;
    background-color: #1e1e1e;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* width: 350px; */

}
h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

.content-section {
    box-sizing: border-box;
    width: 350px;
    margin: 0 auto;
    padding: 0 20px;
    /* background-color: aquamarine; */
}

.content-section_theme_dark {
    background-color: #131313;
    color:#F5F5F5;
}

.content-section_theme_bright {
    background-color: #FEE42A;
    color: #131313
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.header__logo {
    width: 79px;
    height: 16px;
}

.header__menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.header__menu-item {
    list-style: none;
}

.header__menu-link {
    line-height: 19px;
    /* letter-spacing: 0%; */
    color: #F5F5F5;
}

.cover {
    /* background: url(../images/cover.svg) center no-repeat; */
    background-image: url(../images/cover.svg);
    background-repeat: no-repeat;
    /* background-size: 88% auto; */
    background-position: 20px center;
    padding-bottom: 30px;
    /* background-clip: content-box; */
}
.cover__title {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 400;
    font-size: 72px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.accent-span {
    display: block;
}

.text-center {
    align-self: center;
}

.text-right {
    align-self: flex-end;
}

.intro {
    padding-bottom: 38px;
}

.intro__heading {
    display: flex;
    justify-content: space-between;
    line-height: 120%;
    color: #ccc;
    padding-bottom: 24px;
}

.intro__date {
    white-space: nowrap;
}

.intro__main-text p {
    padding-bottom: 24px;
}

.intro__main-text p:last-child {
    padding-bottom: 0;
}

.reasons {
    padding-top: 40px;
    padding-bottom: 39px;
}

.content-section__subtitle {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 115%;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

.content-section__introduction {
    font-size: 20px;
    padding-bottom: 32px;
}

.content-section__list {
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
}

.content-section__list-accent {
    font-weight: 700;
}

.how-to {
    padding-top: 40px;
    padding-bottom: 60px;
}

.card-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.card_theme_dark {
    background-color: #343434;
    color: #F5F5F5
}

.card_theme_bright {
    background-color: #FEE42A;
    color: #131313
}

.card {
    padding: 20px;
    border-radius: 30px;
}


.card__author-photo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-bottom: 8px;
}

.card__author-name {
    font-weight: 700;
}

.card__title {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 135%;
    padding-bottom: 8px;
}

.card__text {
    line-height: 22px;
}

.footer {
    padding: 0px;
}

.footer__line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #FEE42A;
}

.footer__content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer__copy {
    line-height: 135%;
}

.footer__links {
    list-style: none;
    display: flex;
    column-gap: 16px;
}

.footer__link {
    font-size: 14px;
    line-height: 125%;
    text-decoration: none;
    color: #F5F5F5
}

